@import "@/app/styles";

.ProfileForm {
  &-Header-Cancel,
  &-Header-Save {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $link_color;
    cursor: pointer;

    &:hover,
    &:active {
      opacity: $opacity;
    }
  }
}
