@use "@/app/styles/colors" as colors;

.ProfileForm {
  $this: &;
  position: relative;
  height: 100%;
  min-height: 1200px;
  color: colors.$text_color;
  overflow-x: hidden;

  &-Header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    width: 100%;
    margin-bottom: 16px;
  }

  &-Title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 200;
  }

  &-Form {
  }

  &-FileUploader-Title {
    margin-bottom: 4px;
    color: colors.$bg_color;
  }

  &-Controls {
    position: fixed;
    left: 0;
    bottom: 24px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 200;

    &__isEdit {
    }
  }

  &-Cancel {
    padding: 0 16px;
    width: max-content;
  }

  &-Save {
    padding: 0 16px;
    width: max-content;
  }

  &.theme-dark {
    #{$this}-FileUploader-Title {
      color: colors.$text_color;
    }
  }
}
