@import "@/app/styles";

.Layout {
  height: 100%;
  background-color: $secondary_bg_color;

  &-Content {
    margin-bottom: 66px;
    height: calc(100% - 82px);
    border: 1px solid transparent;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    background-color: $bg_color;
  }

  &-Form {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
}
