$bg_color: rgba(23, 33, 43, 1); /* #17212b */
$bg_light_color: rgba(245, 245, 245, 1); /* #f5f5f5 */
$secondary_bg_color: rgba(35, 46, 60, 1); /* #232e3c */
$text_color: rgba(255, 255, 255, 1); /* #fff */
$text_color_not_active: rgba(185, 185, 185, 1); /* #B9B9B9FF */
$link_color: rgba(106, 179, 243, 1); /* #6ab3f3 */
$link_active_color: rgba(84, 140, 189, 1); /* #548CBD */

//$bg_color: var(--tg-theme-bg-color);
//$secondary_bg_color: var(--tg-theme-secondary-bg-color);
//$text_color: var(--tg-theme-text-color);
//$link_color: var(--tg-theme-link-color);

$color-black: rgba(0, 0, 0, 1); /* #000 */
$color-red: rgba(227, 18, 53, 1); /* #e31235 */
$color-light-red: rgba(251, 228, 227, 1); /* #fbe4e3 */
$color-light-red-hover: rgba(250, 219, 218, 1); /* #FADBDA */

$color-gray: rgba(62, 59, 80, 1); /* #3e3b50 */

$color-green: rgba(47, 180, 87, 1); /* #2fb457 */
