$bg_color: rgba(32, 25, 50, 1); /* #201932 */
$bg_light_color: rgba(245, 245, 245, 1); /* #F5F5F5 */
$secondary_bg_color: rgba(42, 35, 70, 1); /* #2a2346 */
$text_color: rgba(255, 255, 255, 1); /* #FFF */
$text_color_not_active: rgba(185, 185, 185, 1); /* #B9B9B9FF */
$link_color: rgba(43, 190, 242, 1); /* #2BBEF2 */
$link_active_color: rgba(26, 74, 125, 1); /* #1a4a7d */

$color-black: rgba(0, 0, 0, 1); /* #000 */
$color-red: rgba(227, 18, 53, 1); /* #E31235 */
$color-pink: rgba(234, 55, 163, 1); /* #EA37A3 */
$color-light-red: rgba(251, 228, 227, 1); /* #FBE4E3 */
$color-light-red-hover: rgba(250, 219, 218, 1); /* #FADBDA */

$color-gray: rgba(93, 88, 106, 1); /* #5D586A */

$color-green: rgba(2, 204, 130, 1); /* #02CC82 */
