@use "colors" as colors;

/* -------------------- Global Styles -------------------- */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: colors.$bg_light_color;
  color: colors.$bg_color;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  // https://developer.mozilla.org/ru/docs/Web/CSS/overscroll-behavior
  overscroll-behavior: none;

  .icon-dark {
    fill: colors.$bg_color;
  }

  &.theme-dark {
    background-color: colors.$bg_color;
    color: colors.$text_color;

    .icon-dark {
      fill: colors.$text_color;
    }
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
button,
input[type="text"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:focus {
  outline: none;
}
