@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.SearchBar {
  display: flex;
  align-items: center;
  background-color: colors.$bg_light_color;
  width: 200px;
  max-width: 100%;
  border-radius: constants.$border-radius-2xl;
  padding: 8px;

  &-Icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  &.theme-dark {
    background-color: colors.$secondary_bg_color;
  }
}
