@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.Footer {
  $this: &;
  position: fixed;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: 100;

  &-Inner {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    width: max-content;
    border: 1px solid transparent;
  }

  &-Item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    padding: 4px;
    border-radius: constants.$border-radius;
    min-width: 64px;
    width: max-content;
    height: 64px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    color: colors.$bg_color;
    background-color: colors.$secondary_bg_light_color;

    #{$this}-Icon-Crown {
      color: colors.$link_color;
    }

    &:hover {
      color: colors.$link_color;
      & svg {
        fill: colors.$link_color;
      }
    }

    &__isActive {
      color: colors.$link_color;
      cursor: default;
      box-shadow:
        0 0 20px colors.$link_color,
        0 0 0 colors.$link_color,
        0 0 0 colors.$link_color;
      & svg {
        fill: colors.$link_color;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-Icon-Crown {
    position: absolute;
    top: 2px;
    right: 50%;
    transform: translateX(50%);
    height: 16px;
    width: 16px;
  }

  &.theme-dark {
    #{$this}-Item {
      color: colors.$text_color;
      background-color: colors.$secondary_bg_color;

      #{$this}-Icon-Crown {
        color: colors.$link_color;
      }

      &:hover {
        color: colors.$link_color;
        & svg {
          fill: colors.$link_color;
        }
      }

      &__isActive {
        color: colors.$link_color;
      }
    }
  }
}
