@import "@/app/styles";

.Footer {
  $this: &;
  position: fixed;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: 200;

  &-Inner {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    width: max-content;
    border: 1px solid transparent;
  }

  &-Item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    padding: 4px;
    border-radius: $border-radius;
    width: 64px;
    height: 64px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    color: $bg_color;
    background-color: $text_color;

    &:hover {
      color: $link_color;
      & svg {
        fill: $link_color;
      }
    }

    &__isActive {
      color: $link_color;
      cursor: default;
      box-shadow:
        0 0 20px $link_color,
        0 0 0 $link_color,
        0 0 0 $link_color;
      & svg {
        fill: $link_color;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &.theme-dark {
    #{$this}-Item {
      color: $text_color;
      background-color: rgba(31, 41, 65, 1);

      &:hover {
        color: $link_color;
        & svg {
          fill: $link_color;
        }
      }

      &__isActive {
        color: $link_color;
      }
    }
  }
}
