@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.Settings {
  &-Header {
    background-color: colors.$bg_color;
    margin-bottom: 25px;

    &-Cancel {
      color: colors.$link_color;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      &:hover,
      &:active {
        color: colors.$link_active_color;
        background-color: colors.$color-gray;
        border-radius: constants.$border-radius;
      }
    }

    &-Save {
      font-weight: 700;
      color: colors.$link_color;
      cursor: pointer;
      border: none;
      background-color: colors.$bg_color;

      &:hover,
      &:active {
        color: colors.$link_active_color;
        background-color: colors.$color-gray;
        border-radius: constants.$border-radius;
      }
    }
  }

  &-List {
    background-color: colors.$bg_color;
    border-top: 1px solid colors.$secondary_bg_color;
    border-bottom: 1px solid colors.$secondary_bg_color;

    &-Item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      padding: 8px 16px;
      border-bottom: 1px solid colors.$secondary_bg_color;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      width: 100%;
      color: colors.$text_color_not_active;

      &__isChecked {
        opacity: 1;
        color: colors.$text_color;
        background-color: colors.$color-gray;
      }

      &__isChecked .Icon {
        height: 16px;
        width: 16px;
        margin-right: 16px;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover,
      &:active {
        color: colors.$text_color;
        background-color: colors.$color-gray;
      }
    }
  }
}
