@import "@/app/styles";

.SubmitButton {
  min-height: 46px;
  width: 100%;
  z-index: 200;

  &-Loading {
    display: flex;
    align-items: center;
  }

  &-Loading-Icon {
    height: 24px;
    width: 24px;
  }
}
