@import "@/app/styles";

.SubmitButton {
  z-index: 200;
  height: 46px;
  width: max-content;

  &-Inner {
    display: flex;
    align-items: center;
  }

  &-Icon {
    margin-left: 4px;
  }

  &-Loading-Icon {
    height: 24px;
    width: 24px;
  }

  &-Save-Icon {
    height: 16px;
    width: 16px;
  }
}
