@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 16px;

  &-Action {
    color: colors.$link_color;
    cursor: pointer;

    &:hover,
    &:active {
      opacity: constants.$opacity;
    }
  }
}
