@import "@/app/styles";

.SearchForm {
  position: relative;
  padding: 16px;

  &-Header {
    position: relative;

    &Inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-WrapperIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    background-color: $secondary_bg_color;
    border-radius: 50%;
    margin-left: 8px;
  }

  &-Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;

    & svg {
      height: 24px;
      width: 24px;
    }
  }
}
