@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.SearchForm {
  $this: &;
  position: relative;
  padding: 16px;

  &-Form {
    position: relative;
  }

  &-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-WrapperIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: colors.$link_color;
    cursor: pointer;
    height: 34px;
    width: 34px;
    margin-left: 8px;

    &:hover,
    &:active {
      opacity: constants.$opacity;
    }
  }

  &-Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;

    & svg {
      fill: colors.$link_color;
      height: 24px;
      width: 24px;
    }
  }

  & .SidebarContent {
    &-Header {
      background-color: colors.$text_color;
      margin-bottom: 25px;
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 16px;

      &-Cancel {
        color: colors.$link_color;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        height: 32px;
        width: 32px;
        z-index: 100;

        &:hover,
        &:active {
          color: colors.$link_color;
          background-color: colors.$link_active_color;
          border-radius: constants.$border-radius;
        }
      }

      &-Title {
        color: colors.$text_color;
        z-index: 100;
      }
    }
  }

  & #{$this}-SidebarContent {
    height: 100vh;
    background-color: colors.$text_color;
  }

  & #{$this}-SidebarContent-List-Item {
    border: none;

    &:hover {
      background-color: transparent;
    }
  }

  &.theme-dark {
    & #{$this}-SidebarContent {
      background-color: colors.$bg_color;
    }

    & #{$this}-SidebarContent-List-Item {
      border: none;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
