@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.SearchForm {
  $this: &;
  position: fixed;
  top: 0;
  width: 100%;
  height: 66px;
  padding: 16px;
  z-index: 200;

  &-Form {
    position: relative;
  }

  &-Header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-RangeSlider {
    margin-top: 16px;
  }

  &-WrapperIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: colors.$link_color;
    cursor: pointer;
    height: 34px;
    width: 34px;
    margin-left: 8px;

    &:hover,
    &:active {
      opacity: constants.$opacity;
    }
  }

  &-Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;

    & svg {
      fill: colors.$link_color;
      height: 24px;
      width: 24px;
    }
  }

  & #{$this}-SidebarContent {
    height: 100vh;
    background-color: colors.$text_color;
  }

  & #{$this}-SidebarContent-List-Item {
    border: none;

    &:hover {
      background-color: transparent;
    }
  }

  &.theme-dark {
    & #{$this}-SidebarContent {
      background-color: colors.$bg_color;
    }

    & #{$this}-SidebarContent-List-Item {
      border: none;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
