@import "@/app/styles";

.SidebarContent {
  &-Header {
    background-color: $bg_color;
    margin-bottom: 25px;

    &-Cancel {
      color: $link_color;
      cursor: pointer;

      &:hover,
      &:active {
        opacity: $opacity;
      }
    }

    &-Save {
      font-weight: 700;
      color: $link_color;
      cursor: pointer;
      border: none;
      background-color: $bg_color;

      &:hover,
      &:active {
        opacity: $opacity;
      }
    }
  }

  &-List {
    background-color: $bg_color;
    border-top: 1px solid $secondary_bg_color;
    border-bottom: 1px solid $secondary_bg_color;

    &-Item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      padding: 8px 16px;
      border-bottom: 1px solid $secondary_bg_color;
      cursor: pointer;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }
    }

    & .Icon {
      height: 16px;
      width: 16px;
      margin-right: 16px;
    }

    &-Delete {
      color: $color-red;
    }
  }
}
