@import "@/app/styles";

.SidebarContent {
  $this: &;

  &-Header {
    background-color: $text_color;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 16px;

    &-Cancel {
      color: $link_color;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      &:hover,
      &:active {
        color: $link_active_color;
        background-color: $color-gray;
        border-radius: $border-radius;
      }
    }

    &-Save {
      height: 24px;
      padding: 0;
      font-weight: 700;
      color: $link_color;
      cursor: pointer;
      border: none;
      background-color: transparent;

      &:hover,
      &:active {
        color: $link_active_color;
        background-color: $color-gray;
        border-radius: $border-radius;
      }
    }
  }

  &-List {
    background-color: $text_color;
    margin-top: 75px;
    margin-bottom: 66px;

    &-Item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      padding: 8px 16px;
      border-bottom: 1px solid $text_color_not_active;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      width: 100%;
      color: $bg_color;

      &:hover,
      &:active {
        color: $bg_color;
        background-color: $link_color;
      }

      &__isChecked {
        opacity: 1;
        background-color: $link_color;
      }

      &__isChecked .Icon {
        height: 16px;
        width: 16px;
        margin-right: 16px;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &-Delete {
      color: $color-red;
    }
  }

  &.theme-dark {
    #{$this}-Header {
      background-color: $bg_color;
    }

    #{$this}-List {
      background-color: $bg_color;

      &-Item {
        color: $text_color;
        border-bottom: 1px solid $secondary_bg_color;

        &:last-child {
          border-bottom: none;
        }

        &:hover,
        &:active {
          color: $text_color;
        }
      }
    }
  }
}
