@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.SidebarContent {
  $this: &;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;

  &-Header {
    background-color: colors.$text_color;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 16px;

    &-Control {
      display: flex;
      align-items: center;
      color: colors.$link_color;
      z-index: 100;

      &:hover,
      &:active {
        background-color: colors.$link_active_color;
        border-radius: constants.$border-radius;
      }
    }

    &-Cancel {
      color: colors.$link_color;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      height: 32px;
      width: 32px;
      z-index: 100;

      &-Title {
        padding: 4px;
        cursor: pointer;
        z-index: 100;

        &:hover,
        &:active {
          background-color: colors.$link_active_color;
          border-radius: constants.$border-radius;
        }
      }

      &:hover,
      &:active {
        color: colors.$link_color;
        background-color: colors.$link_active_color;
        border-radius: constants.$border-radius;
      }
    }

    &-Save {
      display: flex;
      align-items: center;
      padding: 0;
      font-weight: 700;
      color: colors.$link_color;
      cursor: pointer;
      border: none;
      background-color: transparent;

      &:hover,
      &:active {
        color: colors.$link_color;
        background-color: colors.$link_active_color;
        border-radius: constants.$border-radius;
      }
    }
  }

  &-List {
    background-color: colors.$text_color;
    margin-top: 75px;
    margin-bottom: 66px;

    &-Item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      padding: 8px 16px;
      border-bottom: 1px solid colors.$text_color_not_active;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      width: 100%;
      color: colors.$bg_color;

      &:hover,
      &:active {
        color: colors.$bg_color;
        background-color: colors.$link_color;
      }

      &__isChecked {
        opacity: 1;
        background-color: colors.$link_color;
      }

      &__isChecked .Icon {
        height: 16px;
        width: 16px;
        margin-right: 16px;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &-Delete {
      color: colors.$color-red;
    }
  }

  &.theme-dark {
    #{$this}-Header {
      background-color: colors.$bg_color;
    }

    #{$this}-List {
      background-color: colors.$bg_color;

      &-Item {
        color: colors.$text_color;
        border-bottom: 1px solid colors.$secondary_bg_color;

        &:last-child {
          border-bottom: none;
        }

        &:hover,
        &:active {
          color: colors.$text_color;
        }
      }
    }
  }
}
