@import "@/app/styles";

$imageSize: 120px;

.Previews {
  $this: &;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($imageSize, 1fr));
  gap: 8px;

  &-Thumb {
    height: 120px;
    width: 120px;
    &-Inner {
      position: relative;
      display: flex;
      justify-content: center;
      height: $imageSize;
      width: 100%;
    }

    &-WrapperImage {
      position: relative;
      height: $imageSize;
      width: 100%;
    }

    &-Image {
      object-fit: contain;
      object-position: center;
      border: 1px solid transparent;
      border-radius: $border-radius;
    }
  }

  &-Icon {
    color: $bg_color;
  }

  &.theme-dark {
    #{$this}-Icon {
      color: $text_color;
    }
  }
}
