@use "@/app/styles/colors" as colors;

.LikeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &-Icon__isLiked {
    color: colors.$color-red;
  }
}
