@use "@/app/styles/colors" as colors;

.ProfileBlockedPage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: colors.$secondary_bg_color;

  &-Inner {
    display: flex;
    flex-direction: column;
  }

  &-Title {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    color: colors.$text_color;
  }
}
