@import "@/app/styles";

.ProfileDetailPage {
  $this: &;
  position: relative;
  height: 100%;

  & .swiper {
    height: 100%;
  }

  &-Slider {
    position: relative;
    height: calc(100% - 250px);
    width: 100%;
    margin-bottom: 16px;
  }

  & .Field {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-Online {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
  }

  &-Distansion {
    display: flex;
    align-items: center;
  }

  &-Location {
    display: flex;
    align-items: center;
  }

  &-Icon {
    height: 16px;
    width: 16px;
  }

  &-Description {
    color: $color-gray;
  }

  &-Form {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &-Field {
    margin-bottom: 4px;
  }

  &.theme-dark {
    #{$this}-Box {
      background-color: $secondary_bg_color;
    }
  }
}
