@import "@/app/styles";

.ProfileDetailPage {
  position: relative;

  & .swiper {
    height: 100%;
  }

  &-Slider {
    position: relative;
    height: 400px;
    width: 100%;
    margin-bottom: 16px;
  }

  &-User {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &-Box {
    padding: 8px;
    background-color: $secondary_bg_color;
    border-radius: $border-radius-lg;
    width: 100%;
  }

  &-Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .Field {
    margin-bottom: 8px;
  }

  &-Row {
    display: flex;
    align-items: center;
  }

  &-Icon {
    margin-right: 8px;
  }

  &-Online {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    & .Online {
      position: relative;
    }
  }

  &-Form {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 0;
  }
}
