@use "@/app/styles/colors" as colors;

.ProfileBlocked {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: colors.$secondary_bg_color;

  &-Title {
    color: colors.$text_color;
  }
}
