@import "@/app/styles";

.ProfileBlocked {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: $secondary_bg_color;

  &-Title {
    color: $text_color;
  }
}
