.PremiumModal {
  &-Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
  }

  &-ListImages.ListImages-Wrapper {
    padding-top: 50px;
  }

  &-ListTariffs {
    max-width: 300px;
  }
}
