.PremiumModal {
  &-Content {
    &-Title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 24px 0;
    }

    &-ListTariffs {
      max-width: 300px;
    }
  }
}
