@use "@/app/styles/colors" as colors;

.FileUploader {
  &-ImageCropper-Error {
    display: flex;
    justify-content: center;
    color: colors.$color-red;
  }

  &-Spinner {
    color: colors.$link_color;
  }
}
