@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.Tariff {
  background-color: colors.$secondary_bg_light_color;
  border: 1px solid colors.$secondary_bg_light_color;
  border-radius: constants.$border-radius-xl;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: colors.$link_color;
  }

  &-Inner {
    padding: 8px;
  }

  &-Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  &-Price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.theme-dark {
    background-color: colors.$secondary_bg_color;

    &:hover,
    &:active {
      background-color: colors.$link_color;
    }
  }
}
