@use "@/app/styles/colors" as colors;
@use "@/app/styles/constants" as constants;

.Tariff {
  position: relative;
  background-color: colors.$secondary_bg_light_color;
  border: 1px solid colors.$secondary_bg_light_color;
  border-radius: constants.$border-radius-xl;
  cursor: pointer;

  &:hover,
  &:active {
    border-color: colors.$link_color;
  }

  &__isChecked {
    border-color: colors.$link_color;
  }

  &-Inner {
    padding: 16px 0;
  }

  &-Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  &-Price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-Popular {
    position: absolute;
    top: -10px;
    right: 50%;
    transform: translateX(50%);
    color: colors.$text_color;
    background-color: colors.$link_color;
    border: 1px solid colors.$link_color;
    border-radius: constants.$border-radius-xl;
    padding: 0 2px;
  }

  &.theme-dark {
    background-color: colors.$secondary_bg_color;

    &:hover,
    &:active {
      background-color: colors.$link_color;
    }
  }
}
