@use "@/app/styles/colors" as colors;

.ErrorUI {
  background-color: colors.$secondary_bg_color;
  flex: 1;

  &-Inner {
    padding: 16px;
    background-color: colors.$secondary_bg_color;
    border: 1px solid red;
    border-radius: 6px;
  }

  &-Content {
    display: flex;
    color: rgba(153, 27, 27, 1);
  }

  &-IconBox {
    margin-top: 4px;
    flex-shrink: 0;
  }

  &-Icon {
    fill: rgba(153, 27, 27, 1);
  }

  &-Message {
    margin-left: 12px;
  }

  &-Title {
    margin-bottom: 8px;
  }

  &-Caught {
    margin-bottom: 8px;

    &Formatted {
      white-space: pre-wrap;
    }
  }

  &-Stack {
  }
}
